@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    @apply min-h-screen bg-slate-200 font-sans text-slate-900 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }

  #root {
    @apply flex min-h-screen justify-center;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
